<?xml version="1.0"?>
<config>
    <modules>
        <Orange_LatestProducts>
            <version>0.1.1</version>
        </Orange_LatestProducts>
    </modules>
	<frontend>
		<layout>
			<updates>
				<orange_latestproducts>
					<file>orange_latestproducts.xml</file>
				</orange_latestproducts>
			</updates>
		</layout>
	</frontend>
	<global>
		<models>
			<orange_latestproducts>
				<class>Orange_Latestproducts_Model</class>
			</orange_latestproducts>
		</models>
	</global>
    <adminhtml>
    	<acl>
	        <resources>
	            <admin>
	                <children>
	                    <system>
	                        <children>
	                            <config>
	                                <children>
	                                    <orange_latestproducts/>
	                                </children>
	                            </config>
	                        </children>
	                    </system>
	                </children>
	            </admin>
	        </resources>
    	</acl>
    </adminhtml>
	<default>
		<orange_latestproducts>
			<settings>
				<enable>1</enable>
				<show_title>1</show_title>
				<block_title>Latest Products</block_title>
				<display_products>3</display_products>
				<addtocart>1</addtocart>
				<wishlist_link>1</wishlist_link>
				<compare_link>1</compare_link>
			</settings>
		</orange_latestproducts>
	</default>
</config>